*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    color: #333;
}

.navbar{
    background-color: rgb(233, 68, 68);
    padding: 16px;
    margin-bottom: 20px;
    font-family: 'Lobster', cursive !important;
    color: #fff !important;
    letter-spacing: 1px;
    box-shadow: 0 4px 40px rgba(0,0,0,.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar .navbar-item ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 5px;
}

.navbar .navbar-item ul li:not(:last-child){
    margin-right: 10px;
}

.navbar .navbar-item ul li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Lato',sans-serif;
}

.btn{
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    background-color: rgb(233, 68, 68);
    transition: all .5s ease;
}

.btn:hover{
    transform: translateY(-2px);
}

.btn:active,
.btn:focus{
    transform: translateY(-1px);
}

.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.search-input{
    padding: 8px;
    border-radius: 3px;
    border: none;
    border: 1px solid rgb(196, 196, 196);
    outline: none;
    width: 600px;
    margin-right: 10px;
}

.video{
    display: flex;
    flex-direction: row;
}

.video-left{
    width: 70%;
}

.video-right{
    width: 30%;
}

.video-list{
    list-style: none;
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 3px;
    margin: 20px 30px;
    padding:10px;
}

.video-list__items:not(:last-child){
    margin-bottom: 50px;
    border-bottom: 2px solid rgba(0,0,0,.1);
}

.video-detail{
    margin: 20px 100px;
}

.video-list__item{
    padding: 20px;
}

.video-list__item:hover{
    background-color: rgba(0,0,0,.1);
}

.video-list__item .video-list__img{
    width: 100%;
}

.video-list__snippet > p {
    word-break: break-all;
}